<div class="sidebar_wrap">
    <div class="sidebar_widget search_widget">
        <div class="widget_title">
            <h4>Search</h4>
        </div>
        <form (ngSubmit)="onSubmit()" method="GET">
            <input type="text" class="form-control" placeholder="Search your keyword..." name="searchText" [(ngModel)]="searchText" required>
            <button type="submit" class="search_btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="sidebar_widget instagram_widget">
        <div class="widget_title">
            <h4>Instagram</h4>
        </div>
        <ul>
            <li *ngFor="let item of instagram | slice:0:6">
                <a href="#">
                    <img [src]="item.image" alt="image">
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar_widget followus_widget">
        <div class="widget_title">
            <h4>Follow Us</h4>
        </div>
        <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-wordpress"></i></a></li>
        </ul>
    </div>
    <div class="sidebar_widget categories_widget">
        <div class="widget_title">
            <h4>Categories</h4>
        </div>
        <ul>
            <li *ngFor="let item of category">
                <a routerLink="/blog/cat/{{item.id}}">{{item.title}}<span>{{item.count}}</span></a>
            </li>
        </ul>
    </div>
    <div class="sidebar_widget popular_widget">
        <div class="widget_title">
            <h4>Feeds</h4>
        </div>
        <ul>
            <li *ngFor="let item of recentPost()">
                <div class="post_thumb">
                    <a routerLink="/blog-details/{{item.id}}">
                        <img [src]="item.image[0]" [alt]="item.title">
                    </a>
                </div>
                <h6><a routerLink="/blog-details/{{item.id}}">{{item.title}}</a></h6>
                <p><i class="fa fa-calendar"></i> {{item.postdate}}</p>
            </li>
        </ul>
    </div>
    <div class="sidebar_widget">
        <div class="widget_title">
            <h4>Tags</h4>
        </div>
        <div class="tag_cloud">
            <a routerLink="/blog/tag/{{item.id}}" *ngFor="let item of tags">{{item.title}}</a>
        </div>
    </div>
</div>