<!-- Video -->
<div class="intro_video section-padding pb-0">
    <div class="container">
        <div class="section-header text-center">
            <h5>Our Video</h5>
            <div class="heading_arrow">
                <span class="dots_div"></span>
                <span class="s"></span>
                <span class="dots_div"></span>
            </div>
            <h2>Recommand For You</h2>
        </div>
        <!-- Video -->
        <div class="video_wrap">
            <img src="assets/images/video_cover.jpg" alt="image">
            <a class="popup-youtube sigma_video-btn" href="https://www.youtube.com/watch?v=KH1pcNUTa6U"><i class="fa fa-play"></i></a>
        </div>
        <!-- /Video -->
    </div>
</div>
<!-- /Video -->