<!-- Services -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let item of serviceblock | paginate: { itemsPerPage: 4, currentPage: page }">
                <div class="service_box">
                    <div class="icon_wp">
                        <img [src]="item.icon" [alt]="item.title">
                    </div>
                    <h3><a routerLink="/service-details">{{item.title}}</a></h3>
                    <p>{{item.text}}</p>
                </div>
            </div>
        </div>
        <!-- Pagination Start -->
        <div class="pagination_wrap pagination mt-4">
            <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
            </pagination-controls>
        </div>
        <!-- Pagination End -->
    </div>
</div>
<!-- /Services -->