<!-- FAQ -->
<div class="section-padding">
    <div class="container">
        <div class="faq_search">
            <form (ngSubmit)="onSubmit()" method="GET">
                <input type="text" placeholder="Search from here....." class="form-control" name="searchText" [(ngModel)]="searchText" required>
                <button type="submit"><i class="fa fa-search"></i> Search</button>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of faqs;let i = index">
                <div class="faq_box">
                    <span class="faq_number">{{1+i}}</span>
                    <h6>{{item.title}}</h6>
                    <p>{{item.text}}</p>
                </div>
            </div>
            <div class="col-md-12 mt-5" *ngIf="faqs < '0'">
                <ngb-alert [dismissible]="false">
                    <strong>Opps!</strong> No FAQ's in Page
                </ngb-alert>
            </div>
        </div>
    </div>
</div>
<!-- /FAQ -->