<!-- Blog-insta Start -->
<div class="section pt-0">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="sigma_category style-3">
                    <a routerLink="/blog-grid">
                        <img src="assets/images/blog.jpg" alt="img">
                    </a>
                    <div class="sigma_category-content">
                        <span>Read<br>The Blog</span>
                        <a routerLink="/blog-grid">View All Posts</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sigma_category style-3">
                    <a href="#">
                        <img src="assets/images/insta.jpg" alt="img">
                    </a>
                    <div class="sigma_category-content">
                        <span>Follow Our Store<br>On Instagram</span>
                        <a href="#">@username</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog-insta Start -->