<!-- About-Company -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_img dots_bg">
                    <img src="assets/images/about-img.jpg" alt="img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_company">
                    <h6 class="sub-heading">TRUSTED BY MILLIONS OF CONSUMERS.</h6>
                    <h3>A honey bottle that can speak thousand words.</h3>
                    <p>Honey is a supercooled liquid when stored below its melting point, as is normal. At very low temperatures, honey does not freeze solid; rather its viscosity increases. Like most viscous liquids, the honey becomes thick and sluggish with decreasing temperature.</p>
                    <p>The viscosity of honey is affected greatly by both temperature and water content. The higher the water percentage, the more easily honey flows. Above its melting point, however, water has little effect on viscosity. Aside from water content.</p>
                    <a routerLink="/about" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /About-Company -->