<!-- Category -->
<div class="section-padding-2 pt-0">
    <div class="container">
        <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="sigma_category-slider-2">
            <div ngxSlickItem class="sigma_category-item my-style" *ngFor="let item of category">
                <div class="sigma_category">
                    <a routerLink="/shop/cat/{{item.id}}">
                        <img [src]="item.image" [alt]="item.title">
                    </a>
                    <div class="sigma_category-content">
                        <span>{{item.title}}</span>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>
<!-- /Category -->