<!-- Footer -->
<footer class="sigma_footer style-3">
    <div class="sigma_footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4">
                    <div class="sigma_footer-widget">
                        <h5 class="widget-title">Portfolio</h5>
                        <ul class="sigma_footer-links">
                            <li *ngFor="let item of portfolio | slice:0:4">
                                <a routerLink="/portfolio-details/{{item.id}}">{{item.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="sigma_footer-widget">
                        <h5 class="widget-title">Company</h5>
                        <ul class="sigma_footer-links">
                            <li>
                                <a routerLink="/">Home</a>
                            </li>
                            <li>
                                <a routerLink="/about">About</a>
                            </li>
                            <li>
                                <a routerLink="/blog">Blog</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="sigma_footer-widget">
                        <h5 class="widget-title">Shop</h5>
                        <ul class="sigma_footer-links">
                            <li *ngFor="let item of shopblock | slice:0:4">
                                <a routerLink="/shop-details/{{item.id}}">{{item.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sigma_footer-widget">
                        <div class="sigma_footer-logo mb-4">
                            <img src="assets/images/logo.png" alt="logo">
                        </div>
                        <h5 class="widget-title">Subscribe To Our Newsletter</h5>
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="email" name="email" class="form-control" placeholder="Enter yr email">
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-block mt-4 mt-md-0">Submit</button>
                                </div>
                            </div>
                            <span>Welcome to our Honey Company</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sigma_footer-bottom mt-0 d-block d-lg-flex align-items-center justify-content-between">
            <div class="sigma_footer-copyright m-0">
                <p class="mb-0"> © GLSI N 2 -
                    <a href="#">2022</a>
                </p>
            </div>
            <div class="sigma_footer-payment mt-3 mt-lg-0">
                <img src="assets/images/footer-bottom-img.png" alt="img">
            </div>
            <ul class="follow_us mt-3 mt-lg-0">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                <li><a href="#"><i class="fa fa-internet-explorer"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- /Footer -->